/*  ===============
  1. Reset
===============  */

html {
    font-size: 16px;
    overflow: auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    position: relative;
    margin: 0 auto;
    padding-top: size(80);
}

.lazyload,
.lazyloading {
opacity: 0;
}
.lazyloaded {
opacity: 1;
transition: opacity 300ms;
}
.form-control,input,button {
  appearance: none;
    -moz-appearance: none;
-webkit-appearance: none;
}